$theme-dark: #0d0d0d;
$theme-cream: #e1a87a;
$theme-light: #f0f0f0;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $theme-light;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

// media queries
@mixin tablet {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin midsize {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
