@import './common.scss';

.parallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.parallax > * {
  z-index: 1;
}

.p-1 {
  background-image: url('/assets/bg0.jpg');
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 100%;
  }
  .logo {
    width: 80px;
    margin: 10px;
    box-shadow: 20px 15px 50px #222;
  }
  .name {
    color: white;
    font-size: 80px;
    font-weight: 900;
    margin: 20px;
    text-shadow: 25px 20px 50px #000;
  }

  .photo {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    border-color: $theme-dark;
    border-width: 15px;
    border-radius: 50%;
    border-style: solid;
    transform: translate(-50%, 50%);
  }

  .desc {
    width: 400px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 35px;
    border-bottom: 4px solid $theme-cream;
  }

  // media queries
  @include midsize {
    .logo {
      width: 10%;
    }
    .name {
      font-size: 55px;
    }
    .desc {
      width: 300px;
      height: 50px;
      font-size: 20px;
    }
  }

  @include phone {
    .content {
      margin: 10px;
      flex-direction: column;
    }
    .logo {
      width: 15%;
    }
    .name {
      font-size: 250%;
      margin: 10px;
    }
    .desc {
      width: 200px;
      height: 45px;
      font-size: 15px;
    }
  }
}

.p-1::after {
  background-color: #000;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.p-2 {
  background-image: url('/assets/bg0.jpg');
  height: 50vh;
}

.section {
  min-height: 400px;
  text-align: center;
  color: white;
}

.s-1 {
  background-color: $theme-dark;
  .fullname {
    font-family: 'Fredericka the Great';
    color: $theme-cream;
    padding: 100px 0 10px;
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    &::selection {
      color: $theme-light;
    }
  }
  .profession {
    font-weight: 300;
    font-size: 22px;
    margin: 3px;
  }
  .description {
    margin: 20px;
  }

  // media queries
  @include midsize {
    .fullname {
      font-size: 30px;
    }
  }
  @include phone {
    .fullname {
      font-size: 25px;
    }
  }
}

.s-2 {
  background-color: $theme-light;
  color: $theme-dark;
  min-height: 450px;
}

.section-title {
  margin: 0;
  padding: 20px 0;
  font-family: 'Fredericka the Great';
  font-weight: 500;
  font-size: 38px;
}

// ---------------------------- SKILLS -------------------------------------
.skills {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  .skill-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 300px;
    background-color: $theme-dark;
    color: $theme-light;
    margin: 10px;
    padding: 20px;
    .skill-title {
      font-family: 'Times New Roman';
      font-weight: 600;
      font-size: 30px;
      margin: 15px auto;
      color: $theme-cream;
    }
    .skill-description {
      line-height: 20px;
      padding: 10px;
      font-size: 16px;
      letter-spacing: 0.1em;
      font-weight: 300;
    }
    .skill-experience {
      font-weight: 300;
    }
  }
  @include midsize {
    flex-direction: column;
    .skill-card {
      width: 80%;
      margin: 15px auto;
      padding: 20px;
      min-height: 250px;
    }
  }
}

//----------------------------- FOOTER -------------------------------------

.footer {
  position: relative;
  background-color: $theme-dark;
  min-height: 400px;
  display: flex;
  justify-content: center;

  .copyright {
    position: absolute;
    bottom: 2px;
    display: flex;
    padding: 10px;
    .details {
      color: #555;
      font-weight: 300;
      font-size: 14px;
      user-select: none;
      &::after {
        content: '\00a0';
      }
    }
    @include phone {
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 10px;
    .scroll-to-top-logo {
      border-radius: 3px;
      font-size: 32px;
      background-color: $theme-cream;
      color: $theme-dark;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
    }
  }
}
